{% import 'macros/messages.html' as messages_macros with context -%}
{% import 'macros/filters.html' as filters_macros %}
{% import 'macros/batch_actions.html' as batch_actions_macros %}
{% import 'macros/pager.html' as pager_macros %}

{% macro list(configuration, title, pager, filter) -%}
    <h1>{{ title }}</h1>
    {{ messages_macros.messages() }}

    {% if filter or pager.get_list_actions() %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% if filter %}{{ filters_macros.filter_button('filtersBootstrapGeneratorModal') }}{%  endif %}
        </div>
        {% if pager.get_list_actions() %}
        <div class="btn-group pull-right">
            {% for action in pager.get_list_actions() %}
            <a title="{{ action['label'] }}" class="btn btn-primary " href="{{ action['url'] }}">{% if action['icon']  %}<i class="{{ action['icon'] }}"></i>{% endif %}{% if action['label'] and not action['only_icon'] %}{{ action['label'] }}{% endif %}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {%  endif %}

    {% if filter %}
    {{ filters_macros.filter_modal(id='filtersBootstrapGeneratorModal', filter_form=filter, action=url_for('user.user_filter')) }}
    {%  endif %}

    <form class="form-inline" action="{{ url_for('user.user_batch') }}" method="post">
        {{ pager_macros.get_list(configuration=configuration, pager=pager) }}
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if batch_actions %}{{ batch_actions_macros.batch_buttons(batch_form=batch_actions) }}{% endif %}
            </div>
            {% if pager.get_list_actions() %}
            <div class="btn-group pull-right">
                {% for action in pager.get_list_actions() %}
                <a title="{{ action['label'] }}" class="btn btn-primary " href="{{ action['url'] }}">{% if action['icon']  %}<i class="{{ action['icon'] }}"></i>{% endif %}{% if action['label'] and not action['only_icon'] %}{{ action['label'] }}{% endif %}</a>
                {% endfor %}
            </div>
            {% endif %}
       </div>
    </form>
{%- endmacro %}