{% macro pager(pager, page, url) -%}
<div class="pagination pagination-centered">
    <ul>
        <li><a href="{{ url }}?page=1" title="{{ gettext('First page') }}"><i class="icon-fast-backward"></i></a></li>
        <li><a href="{{ url }}?page={{ pager.get_previous_page() }}" title="{{ gettext('Previous page') }}"><i class="icon-backward"></i></a></li>
        {% for page in pager.get_links() %}
            {% if page == pager.get_page() %}
        <li class="active disabled"><a href="#">{{ page }}</a></li>
            {% else %}
        <li><a href="{{ url }}?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{{ url }}?page={{ pager.get_next_page() }}" title="{{ gettext('Next page') }}"><i class="icon-forward"></i></a></li>
        <li><a href="{{ url }}?page={{ pager.get_last_page() }}" title="{{ gettext('Last page') }}"><i class="icon-fast-forward"></i></a></li>
    </ul>
</div>
{%- endmacro %}

{% macro footer(pager) -%}
{% if pager.get_nb_results() == 0 %}
{{ gettext('no result') }}
{% else %}
{{ ngettext('result: %(num)d', 'results: %(num)d', pager.get_nb_results())|format(num=pager.get_nb_results()) }}
{% endif %}
{% if pager.have_to_paginate() %}
    {{ gettext('page %(page)s/%(nb_pages)s', page=pager.get_page(), nb_pages=pager.get_last_page()) }}
{% endif %}
{%- endmacro %}
