{% import 'macros/messages.html' as messages_macros with context -%}
{% import 'macros/form.html' as form_macros with context -%}

{% macro update(configuration) -%}
    <h1>{{ title }}</h1>
    {{ messages_macros.messages() }}
    <form class="form-horizontal" method="post" action="{{ configuration['url'] }}">
        {{ form_macros.generate_elements(configuration['form'], configuration['display_blocks']) }}
        <div class="form-actions">
            <div class="btn-group pull-left">
                {% if configuration['submit'] %}
                {% for action_element in configuration['submit_actions'] %}
                {{ actions_macros.action(action_element=action_element) }}
                {% endfor %}
                {% else %}
                <input class="btn btn-primary" type="submit" value="Save" />
                {% endif %}
            </div>
            <div class="btn-group pull-right">
                {% for action_element in configuration['actions'] %}
                {{ actions_macros.action(action_element=action_element) }}
                {% endfor %}
            </div>
        </div>
    </form>
{%- endmacro %}
